body {
    font-family: Aldrich, sans-serif;
    color: #6bbebd;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url(Desain\ tanpa\ judul\ \(6\).png);
    background-repeat: no-repeat ;
    background-position: center ;
    background-attachment:fixed ;
    background-size:cover ;
}

header {
    background: #171717;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

h2 {
    font-style: italic;
    margin: 10px 0;
}

.TVWGLOBE {
    max-width: 100%;
    height: auto;
}



.flag {
    max-width: 50%;
}



td {
    padding: 10px;
    border: 1px solid #ccc;
}

footer {
                text-align:center;}
            .tableofinti {
                width: 34%;
                border: 3px solid #6bbebd;
                
                background-color: #171717;
                align-items: flex-start;
                position: absolute;
                top:0 ;
                left:0 ;
            }
            .headergrob {
                width: 84%;
            }

            .container-navbar {
                background-color: #000;
                   font-family: Aldrich; color:#6bbebd;
                   width:100%;
                 display: flex;
                 justify-content: space-around;
                    align-items: center;
                position: relative;}
            
.Grobmap {

    height: 320px;
}

div h3 {
    font-size: 80;
}

.td6 {
    justify-content: space-around;
    display: flex;
}
.Wirtschaftssphäre-Lützerein {
    width: 25%;
}
.Reichsmarktwirtschaft {
    width: auto;
    height: 50px;
}
.newh3 {
    background-color: #6bbebd;
    color: #171717;
    justify-content:center ;
    display: flex;
}
.cursor {cursor:url('11.png'), pointer;
    cursor:url('11.png') all-scroll;

}
.section {width: 65%;
position: absolute;
top: 0;
right: 0;
background-color:#171717;
border: 2px solid #6bbebd;

}

.overlay {
    
    align-items: center;
    justify-content: center;
    display: flex;
}

.Groboverview {
   font-family: sans-serif;
   border:none;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.titleofgrob {
    width: 94%;
}
.aboutder {
    font-size: 470;
    color: grey;
}
.td1 {
    color: #82928f;
    font-style:inherit;
    font-size: 30px;
}
.stats {
 list-style-type: none;
 
 
}
.liofli {
    font-size: 30px;
}
.cityimg {
    width:100% ;
    margin-bottom: 10px;
    border: 2px solid #6bbebd;
}

.citylie {
    font-style: normal;
    font-size: 24px;
    margin-bottom: 10px;

}

.city {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 2px solid #82928f;
    align-items: center;
    width: 190px;
}

.list-cities {
    background-color: #171717;
    font-family: Aldrich; color:#6bbebd;
    width:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}




.section-fuction {
    background-color:#171717; 
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 25px;
    border: none;
}
.page-section1 {
    list-style-type: none ;
    width:7% ;
 
}
.page-section2 {
        list-style-type: none ; 
    width: 78%;}
        .page-section3 {
            list-style-type: none ; 
            width:7% ;
        }
.div-section {
    
    background-color: #171717;
    width: 100%;
    height: 32px;
    
    
}
.page1:hover {
    background-color: #171717;
    transition: .5s ease-in-out;
    transition-delay: .3s;
    
}
.page1 {
    color:#6bbebd;
    text-decoration: none;
    font-size: 20px;
}
.page2 {
    color:#dfdfdf;
    text-decoration: none;
}
.page3 {
    color:#dfdfdf;
    text-decoration: none;
}
.h {
 
   
    justify-content: center;
    text-align: center;
    display: flex;
    
}
.hv {
    border: 1px solid #dfdfdf;
    width: 93%;
}
.hvp {
    border: 1px solid #171717;
    width: 100%;
    color: #171717;
    font-size: 7px;
}
.inflation {
    list-style-type: none;
    width: 30%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column; 
    
}
    
.inflation1 {
    color: red;
}
.li-inflation {
    color:#dfdfdf;
    font-size: 22px;
}
.chart {
    width: 80%;
    background: 
    linear-gradient(-45deg, transparent 45%, #6bbebd 45%, #6bbebd 55%, transparent 55%) 0 0/10px 10px,
    linear-gradient(-45deg, transparent 45%, #6bbebd 45%, #6bbebd 55%, transparent 55%) 5px 0px/10px 10px;
    background-color:rgba(255,255,255,0.5)
}

.GDP1 {
    color: green;
}
.economy {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:  #555956;
    border-radius:8px ;
}

.economy-img {
    width: 20%;
}
.economy-about {
    width: 32%;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 5px solid #555956;
    height: 90px;
    background-color: #171717;
}

.economy-about-Reichmarkt {
    color: #82928f;
}



.box-lutzerein {
    list-style-type: none;
    border: 4px solid #555956;
    width: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #171717;
    height: 93px;
}
.economy-lutzereinimg {
    width: 80%;
    background-color: #171717;
}
.top-economy {
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    background-color: #171717;
    height: 120px;
   
}
.industrial {
    width: 55%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.industrial-img {
    width: 100%;
   
    height: 100px;
}

 