
body {
    font-family: Aldrich, sans-serif;
    color: #6bbebd;
    line-height: 1.6;
    margin: 0;
    padding: 0;
        background-color: #171717; }
.mille {
    width:60% ;
    height: 28% ;
}